.container-principal{
    padding: 0;
    background-color: white;   
}

.header{
    height: 11vh;
}

.navbar-header{
    height: 11vh ;
}

.navbar-1{
    margin-left: 10px;
    padding-left: 10px;   
}

.row-1{
    height: 80vh;   
    margin: 0px !important;
    padding: 0px !important;
    background-color: gray;
}

.carousel-item{
    max-width: 100%;    
    margin: 0px !important;
    padding: 0px !important;
}


.main-1{    
    width: 100%;
}



.card{
    border: none;
    border-radius: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;    
}


.btn-secondary{
    width: 200px;
    background-color: gray;
}

.row-2{
    padding-top: 30px;
}

.card-1{
    height: 34vh;
    border:none;
    text-align: center;
    margin: auto;    
}


.separacion-1{
    position: relative;
}

.hr-1{
    color: green;    
}

.texto-h5{    
    position: absolute;
    top: 2px;
    background-color: white;
    left: 680px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
}

.row-3{
    text-align: center;
    justify-content: center;    
    margin: auto;
    padding-top: 20px;
    gap: 10px;
}


.separacion-2{
    margin-top: 20px;
    position: relative;
    justify-content: center;
}

.hr-2{
    color: green;
}

.texto-h6{    
    position: absolute;
    justify-content: center;
    top: 2px;
    background-color: white;
    left: 750px;
    padding-left: 10px;
    padding-right: 10px;    
}

.row-4{
    padding-top: 40px;
    margin: auto;
}



.card-3{
    border: 2px solid black;
    width: 500px !important;
    margin: auto;
    text-align: center;
    background-color: white;
}

.card-body-1{
    text-align: center;
    justify-content: center;
    background-color: gray;    
}

.boton-seguir{
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-1{
    height: 28vh !important;
    width: 100% !important;
    background-color: orange;
}

.row-5{
    padding-top: 30px;
    text-align: center;
}

.row-6{    
    text-align: center;
    margin-top: 60px;
}

.row-7{
    text-align: center;
    margin-top: 20px;
}

