*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:steelblue;
    font-family:Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
}

header{    
    background-color: white;
    color: black;
    padding: 20px;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid black;
}

header nav ul li{    
    float:left;
    list-style-type: none;
}

header nav ul li a{
    text-decoration: none;
    margin-left: 100px;
    margin: auto;
    padding: 20px;
    display: inline-block;
    color: grey;
    border-radius: 10px;
}

header nav ul li a:hover{
    background-color: grey;
    color:white;
}

header img{
    width: 40px;
    float:left;
    padding: 20px;
    padding-top: 10px;
}

main{
    background-color: white;
    width: 60%;
    color:black;
    float:left;
    clear: both;

}

main article{
    padding: 30px;
    padding-top: 5px;
}


main article p{
    margin-bottom: 6px;
    text-align:justify;
    line-height: 150%;
}


aside{
    width: 30%;
    padding: 20px;
    background-color: gray;
    float: right;
    line-height: 150%;
    text-align: justify;
}

aside h3{
    text-align: justify;
    
}

aside ul li{
    list-style-type:disc;
    color:black;
    padding-top: 22px;    
}

aside ul li a{
    color:black;
    
}

aside article{
    padding-top: 30px;
}


footer{
    clear:both;
    background-color: white;
    color: black;
    text-align: left;
    padding: 30px;
    width: 100%;    
    float:center;
}


footer a{
    text-decoration: none;
    line-height: 200%;
    text-align: center;
}

footer h4{
    line-height: 200%;
}

footer h4.redes{
    text-align: left;
}
