*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.contenedor-principal{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;

}



/*HEADER*/
.header{
    box-sizing: border-box;
    display: flex;
    width: 90%;
    height: 16vh;
    background-color: white;
    margin: auto;
    overflow: hidden;
    border-bottom: 2px solid black;    
}


.header .imagen-1{
    width: 10%;
    height: auto;   
}

.nav-1{
    align-self: stretch;
    justify-content: flex-end;
}

.lista{
    display: flex;     
}

.header ul li{
    list-style: none;
    margin-top: 70px;
}

.header ul li a{
    text-decoration: none;
    color: black;
    margin: auto;
    padding: 30px;
    font-size: 30px;
}

.header ul li a:hover{
    background-color: gray;
    color: white;
    border-radius: 10px;
}








.contenedor{
    box-sizing: border-box;
    width: 90%;
    height: 80vh;
    margin: auto;
    background-color: aquamarine;
}




.main-1{
    box-sizing: border-box;
    float: left;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 24vh 24h 24vh;
    width: 70%;
    height: 80vh;
    background-color: rgb(214, 203, 203);
    margin: auto;
    gap: 10px;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
    
    
}

.main-1 .item{
    display: grid;
    grid-template-columns: 40% 60%;
    position: relative; 
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
}

.main-1 .item-5{
    display: grid;
    grid-template-columns: 30% 30% 40%;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: white;
    grid-area: 3 / 1 / 3 / span 2;
    overflow: hidden;
}


.main-1 .imagen-river{
    width: 100%;
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

.main-1 .imagen-item5{
    width: 70%;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

.precio{
    color: green;
}

.botones{
    margin-top: 40px;
}

.item .description{    
    text-align: center;
    margin-top: 16px;
}

.description button{
    width: 200px;
    height: 4vh;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #009946;
    cursor: pointer;
    font-size: 16px;
    margin: 4px;
}

.description .button-5{
    width: 260px;
    height: 4vh;
    border-radius: 10px;
    cursor: pointer;
}

.description button:hover{
    color: green;
    opacity: 80%;
}




/*ASIDE*/
.aside{
    float: right;
    display: grid;
    width: 30%;
    height: 80vh;
    grid-template-columns: 30% 30%;
    grid-template-rows: 17vh 17vh 17vh 17vh;     
    background-color: rgb(214, 203, 203);
    gap: 10px;
    justify-content: left;    
    padding-top: 40px;
    box-sizing: border-box;
}

.contenedor-principal .imagen-aside{
    object-fit: cover;
    min-height: 100%;
    min-width: 100%;
    height: 0%;
    width: 0%;    
    cursor: pointer;
    border-radius: 10px;
}

.contenedor-principal .imagen-aside:hover{
    filter: opacity(50%);
}




/*FOOTER*/
.footer{
    box-sizing: border-box;
    display: grid;    
    grid-template-columns: 50% 50%;    
    width: 90%;
    height: 14vh;
    background-color: white;
    border-top: 2px solid black;
    margin: auto;
    overflow: hidden;
}

.suscripcion{
    width: 100%;
    display: flex;    
    flex-direction: column;    
    padding-left: 20px;
    padding-top: 10px;
}

.suscripcion input{  
    width: 240px;
    height: 3vh;    
    border-radius: 10px;   
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 30px;
    border: 1px solid black;
}

.fa-envelope{    
    left: 26px;
    top: 70px;
    z-index: 1;
    
}

.suscripcion button{
    width: 240px;
    height: 3vh;
    cursor: pointer;
    border: none;
    border-radius: 10px;   
}

.redes{
    padding-top: 10px;    
}

.redes h4{
    padding-left: 200px;
}

.redes ul{
    display: flex;
    padding-left: 150px;
}

.redes ul li{
    display: flex;
    list-style: none;
    padding: 10px;    
}

.redes ul li a{    
    text-decoration: none;
    color:black;
}


@media (max-width:720px){
    
    .main-1{
        width: 100%;
        height: 160vh;
        display: flex;
        flex-direction: column;
        padding-left: 1.5%;
        padding-right: 1.5%;        
    }

    .main-1 .item-5 .imagen-item5{
        width: 100%;
        height: auto;
    }

    .main-1 .item-5 .description{
        padding-top: 10px;        
    }

    .description{
        padding-bottom: 10px;
        padding-right: 10px;        
    }

    .precio{
        margin-top: 10px;
        font-size: 18.6px;
    }

    .description button{
        width: 160px;
    }

    .description .button-5{
        width: 160px;        
    }

    .aside{
        width: 100%;
        justify-content: center;
    }

    .header{
        width: 90%;
        height: 30vh;
        display: flex;
        flex-direction: column;        
    }

    .header .imagen-1{
        position: absolute;
        width: 30%;
        height: 20vh;       
        align-self: center;
    }

    .nav-1{
        padding-top: 140px;
    }
 
    .header ul li a{               
        font-size: 24px;        
    }

    .footer{
        margin-top: 1400px;
        height: 24vh;
    }

    .redes ul{
        display: grid;      
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        margin-top: 20px;
        padding-left: 2px;
    }

    
    .redes h4{
        padding-left: 20px;
    }
}